header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.container{
  min-height: 100vh;
}

header h1,
header span {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(20px, 10vw, 40px);
  color: #121214;
}

header h1 span,
header span {
  color: #5d3fd3;
}

header span {
  font-weight: 800;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: clamp(12em, 40vw, 30em);
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  border: none;
  border: 2px solid #dddddd;
}

#self-icon,
#book-icon,
#back-icon {
  color: #121214;
}

#book-icon {
  font-size: 20px;
}

#back-icon,
#self-icon {
  font-size: 28px;
  margin: 0 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#self-icon:hover, #back-icon:hover {
  color: #5d3fd3;
}

.empty-container{
  width: 100%;
  height: 40vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-container h1{
  font-size: clamp(20px, 8vw, 30px);
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  header > span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    display: none;
  }
  #back-icon,
  #self-icon {
    font-size: 22px;
    margin: 0 10px;
  }
}
